/* =============== VARIABLES =============== */

:root {
    --bsa-color: #ff9a00;
    --bsa-color-darker: #ff7b00;
    --bsa-academy: #56b7f9;
}

/* =============== COMMON STYLES =============== */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(243, 243, 243);
    color: #212121;
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 1000px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .content {
        width: 100%;
        margin-top: 50px;
        padding-top: 30px;
    }
}

.centered, .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text {
    display: inline-block;
}

/* =============== HEADER =============== */

.header {
    width: 100%;
    height: 50px;
    position: fixed;
    margin-top: -50px;
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(8px);
    z-index: 10000;
    animation: 1s ease 0s 1 loadHeader;
}

.header img {
    height: 40px;
    display: inline-block;
}

.header .menu_bar {
    position: absolute;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    right: 0;
}

.header .container {
    height: 40px;
    margin-top: 5px;
}

.header .menu_bar .material-icons {
    line-height: 40px;
    margin-right: 8px;
    color: gray;
    transition: .3s;
    cursor: pointer;
}

.header .menu_bar .material-icons:hover {
    color: var(--bsa-color);
}

.header .avatar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    top: -5px;
    border-radius: 15px;
    background-color: var(--bsa-color);
    transition: .3s background-color;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    line-height: 30px;
}

.avatar:before {
    display: inline-block;
    content: 'V';
}

input:focus {
    outline: 0;
}

.header .avatar:hover {
    background-color: var(--bsa-color-darker);
}

@keyframes loadHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* =============== DROPDOWN =============== */

.dropdown {
    position: absolute;
    line-height: 25px;
    width: 130px;
    padding: 12px;
    right: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.13);
    background-color: white;
    display: none;
    z-index: 100000000;
}

.dropdown .user_name {
    margin: 0;
    text-align: center;
    border-bottom: 2px solid rgb(173, 173, 173);
    color: rgb(173, 173, 173);
    font-weight: bold;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

.dropdown li {
    padding: 0 8px;
    cursor: pointer;
    transition: .3s background-color;
}

.dropdown li:hover {
    background-color: rgb(236, 236, 236);
}

.header .avatar:checked+.dropdown {
    display: block;
}

.dropdown:hover {
    display: block;
}

/* =============== FOOTER =============== */

.footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #212121;
}

/* =============== CONTENT =============== */

.grid-container {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2.2fr repeat(3, 0.9fr) 0.7fr 0.7fr;
    grid-template-areas: "binary-cell js-cell php-cell php-cell" "binary-cell js-cell net-cell events-cell" "qa-cell js-cell net-cell events-cell" "qa-cell js-cell net-cell blog-cell" "qa-cell java-cell net-cell blog-cell" "qa-cell java-cell net-cell contacts-cell";
}

.grid-container>div {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.front, .back {
    padding: 16px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-content {
    width: 100%;
    height: 100%;
}

/* -------- PHP CELL -------- */

.php-cell {
    grid-area: php-cell;
}

.php-cell .card-content {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.php-cell .front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #8893c0;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    transition: transform 0.3s;
}

.php-cell:hover .front {
    transform: translate(100%, -100%);
}

.php-cell .back {
    height: 100%;
    width: 100%;
    background-color: white;
}

/* -------- Contacts CELL -------- */

.contacts-cell {
    grid-area: contacts-cell;
}

.contacts-cell .card-content {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.contacts-cell .front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00265f;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    transition: transform 0.3s;
}

.contacts-cell:hover .front {
    transform: translateX(100%);
}

.contacts-cell .back {
    height: 100%;
    width: 100%;
    background-color: white;
}

.contacts-cell ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacts-cell li {
    display: inline;
}

.contacts-cell li img {
    height: 30px;
    padding: 0 3px;
    transition: filter 0.3s;
    cursor: pointer;
}

.contacts-cell li img:hover {
    filter: invert(65%) sepia(14%) saturate(1784%) hue-rotate(165deg) brightness(99%) contrast(98%);
}

/* -------- Blog CELL -------- */

.blog-cell {
    grid-area: blog-cell;
}

.blog-cell .card-content {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.blog-cell .front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0443a3;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    transition: transform 0.3s;
}

.blog-cell:hover .front {
    transform: translateX(100%);
}

.blog-cell .back {
    height: 100%;
    width: 100%;
    background-color: white;
}

/* -------- Events CELL -------- */

.events-cell {
    grid-area: events-cell;
}

.events-cell .card-content {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.events-cell .front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2d99ff;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    transition: transform 0.3s;
}

.events-cell:hover .front {
    transform: translateX(100%);
}

.events-cell .back {
    height: 100%;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* -------- Binary CELL -------- */

.binary-cell {
    grid-area: binary-cell;
    /* background-color: white; */
}

/* -------- QA CELL -------- */

.qa-cell {
    grid-area: qa-cell;
}

.qa-cell .front {
    background-color: #52bf77;
    color: white;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.qa-cell .back {
    transform: rotateY(180deg);
    background-image: url(../images/bunny.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------- Java CELL -------- */

.java-cell {
    grid-area: java-cell;
}

.java-cell .card-content {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.java-cell .front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e12b4c;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    transition: transform 0.3s;
}

.java-cell:hover .front {
    transform: translateY(100%);
}

/* -------- JS CELL -------- */

.js-cell {
    grid-area: js-cell;
}

.binary-cell .card-content, .js-cell .card-content, .qa-cell .card-content {
    position: relative;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.js-cell:hover .card-content, .binary-cell:hover .card-content, .qa-cell:hover .card-content {
    transform: rotateY(180deg);
}

.js-cell .front {
    transition: transform .5s;
    background-color: #f7cf69;
    text-align: right;
}

.binary-cell .front {
    transition: transform .5s;
    background-color: white;
}

.binary-cell img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.js-cell .front span {
    position: absolute;
    padding: 16px;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    font-weight: bold;
}

.js-cell .back, .binary-cell .back {
    background-color: white;
    transform: rotateY(180deg);
}

/* -------- .NET CELL -------- */

.net-cell {
    grid-area: net-cell;
}

.net-cell .card-content {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.net-cell .front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #642077;
    color: white;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    transition: transform 0.3s;
}

.net-cell:hover .front {
    transform: translate(100%, 100%);
}

.net-cell .back {
    height: 100%;
    width: 100%;
    background-color: white;
}

/* =============== BUTTONS =============== */

button:focus {
    outline: 0;
}

button {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow, filter 100ms;
    -webkit-transition: -webkit-box-shadow 300ms, filter 100ms;
    transition: -webkit-box-shadow 300ms, filter 100ms;
    transition: box-shadow 300ms, filter 100ms;
    transition: box-shadow 300ms, -webkit-box-shadow 300ms, filter 100ms;
}

button:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

button.lighten:active {
    filter: brightness(110%);
}

button.darken:active {
    filter: brightness(90%);
}

button {
    font-size: 1rem;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    background-color: var(--bsa-academy);
    color: white;
    height: 36px;
    padding: 0 2rem;
    border: none;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

button.disabled {
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

/* =============== ADAPTIVE =============== */

@media only screen and (max-width: 1000px) {
    .container {
        position: relative;
        width: 90vw;
        margin-left: 5vw;
    }
    .content {
        width: 100%;
        margin-top: 50px;
    }
    .grid-container {
        height: 80vw;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1.8fr 0.2fr 0.9fr 1.1fr;
        grid-template-rows: 1fr 1fr 0.6fr 1.2fr 1.2fr;
        grid-template-areas: "binary-cell js-cell js-cell events-cell" "binary-cell js-cell js-cell blog-cell" "binary-cell js-cell js-cell contacts-cell" "java-cell java-cell php-cell php-cell" "qa-cell qa-cell net-cell net-cell";
    }
    .contacts-cell li img {
        height: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        height: 400vw;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "binary-cell" "js-cell" "events-cell" "blog-cell" "contacts-cell" "java-cell" "qa-cell" "php-cell" "net-cell";
    }
    .contacts-cell li img {
        height: 50px;
    }
}

/* =============== NOTIFICATIONS =============== */

.notification-area {
    height: auto;
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
}

.notification, .error, .warning {
    height: auto;
    width: 200px;
    padding: 8px;
    position: relative;
    margin-top: 16px;
    border-radius: 8px;
    color: white;
    backdrop-filter: blur(8px);
}

.notification-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    z-index: 100000;
}

.notification-text {
    display: inline-block;
    width: 160px;
    padding-left: 32px;
}

.notification-text>span {
    font-weight: bold;
    display: block;
    font-size: 1.1rem;
}

.notification {
    background-color: #8BC34Add;
}

.error {
    background-color: #f44336dd;
}

.warning {
    background-color: #FFC107dd;
}